
body{

  
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(7, 7, 81) 35%, rgba(26,68,77,1) 100%);
}


/* =================== */


.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(9, 9, 9, 0.8);
  z-index: 1000;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #232020;
  border-radius: 10px;
}






.search-bar {
  position: sticky;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  
  color: rgb(225, 216, 216);
  background-color: rgba(30, 28, 27, 0.952);
  border: none;
  box-shadow: 0 0 10px rgba(143, 129, 129, 0.2);
}


/* ------------------------------------ second search bar */

.search-bar-container {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 16%;
  margin: 20px auto;
  transition: max-width 0.5s ease-out;
}

.search-bar-container.focused {
  max-width: 500px;
}

.search-bar-container input {
  width: 100%;
  padding: 10px;
  border: 2px solid   #616263;
  border-radius: 25px;
  font-size: 16px;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.search-bar-container input:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-color: #ebe9e9;
  outline: none;
}


/* ----------------------------------- Grid css */
/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
  padding: 10px;
  /* object-fit: cover; */


}

.grid-item {
  background-color: #1c1c1c;
  border-radius: 8px;
  /* overflow: hidden; */
  position: relative;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;

  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.grid-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.thumbnail {
  width: 100%;
  height: auto;
  display: block;
  object-fit: fill;
}

.no-thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: #333;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
}

@media (min-width: 768px) {
  .grid-container {
    padding: 5px;
    gap: 10px;
  }
}

/* ---------------------------- grid component play button css */


.play-button-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
  opacity: 0;
  transition: opacity 0.3s;
}

.grid-item:hover .play-button-overlay {
  opacity: 1;
}

.play-icon {
  font-size: 2rem;
  color: white;
}


/* Popup styles */
.popup-viewer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 80%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 8px;
  z-index: 10;
  padding: 16px;
}

.grid-item:hover .popup-viewer {
  display: block;
}

.popup-content {
  width: 100%;
  height: 100%;
  object-fit: contain;
}