.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(9, 9, 9, 0.8);
  z-index: 1000;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #232020;
  border-radius: 10px;
}






.search-bar {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  
  color: rgb(245, 241, 241);
  background-color: rgba(194, 186, 177, 0.402);
  border: none;
  box-shadow: 0 0 10px rgba(108, 98, 98, 0.2);
}


/* ------------------------------------ second search bar */

.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 16%;
  margin: 20px auto;
  transition: max-width 0.5s ease-out;
}

.search-bar-container.focused {
  max-width: 500px;
}

.search-bar-container input {
  width: 100%;
  padding: 10px;
  border: 2px solid   #616263;
  border-radius: 25px;
  font-size: 16px;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.search-bar-container input:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-color: #ebe9e9;
  outline: none;
}
