body {
background-color: blanchedalmond;



}

#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
